<%
begin
	behavior = task.field_behavior.constantize
rescue NameError
	behavior = nil
end
%>
<% if behavior.nil? %>
	<div class="field">
		<label for="<%= Rack::Utils.escape_html(task.field["name"].to_s) %>"><%= Rack::Utils.escape_html(task.class.human_attribute_name(task.field["name"].to_sym)) %></label>
		<input type="text" name="<%= Rack::Utils.escape_html(task.field["name"].to_s) %>" value="<%= Rack::Utils.escape_html(task.send(task.field["name"].to_sym).to_s) %>" />
	</div>
<% else %>
	<div class="field">
		<%= behavior.new(task).to_form_field(task.field["name"]) %>
	</div>
<% end %>
