<form action="<%= RTurk.sandbox? ? "https://workersandbox.mturk.com/mturk/externalSubmit" : "https://www.mturk.com/mturk/externalSubmit" %>" method="POST">

	<input type="hidden" name="assignmentId" value="<%= Rack::Utils.escape_html(assignment_id) %>" />

	<%
	begin
		behavior = task.field_behavior.constantize
	rescue NameError
		behavior = nil
	end
	%>
	<% if behavior.nil? %>
		<!-- behavior <%= Rack::Utils.escape_html(task.field_behavior) %> does not exist -->
		<div class="field">
			<label for="<%= Rack::Utils.escape_html(task.field["name"].to_s) %>"><%= Rack::Utils.escape_html(task.class.human_attribute_name(task.field["name"].to_sym)) %></label>
			<input type="text" name="<%= Rack::Utils.escape_html(task.field["name"].to_s) %>" value="<%= Rack::Utils.escape_html(task.send(task.field["name"].to_sym).to_s) %>" />
		</div>
	<% else %>
		<div class="field">
			<%= behavior.new(task).to_form_field(task.field["name"], { :name => "answer" }.merge(task.field["params"].symbolize_keys)) %>
		</div>
	<% end %>

	<% if assignment_id != "ASSIGNMENT_ID_NOT_AVAILABLE" %>
		<div class="actions">
			<input type="submit" value="Save Answer" />
		</div>
	<% end %>
</form>
