<h1>MacroDeck Platform Test App</h1>
<%= MacroDeck::TitleBehavior.new(@item).to_html %>

<p><a href="<%= item_path(@item) %>/edit">edit</a></p>

<%
	num_fields_printed = 0
	if @object.fields_by_priority
		@object.fields_by_priority.each do |priority_set|
			if num_fields_printed <= 5
				priority_set[1].each do |f|
					behavior = "#{f.to_s}_behavior".camelize
					behavior = "MacroDeck::#{behavior}"
%>
					<% begin %>
						<%= behavior.constantize.new(@item).to_html %>
					<% rescue NameError %>
						<% unless @object.introspections[f.to_sym][:internal] %>
							<% if !@item.send(f.to_sym).nil? && !@item.send(f.to_sym) == "" %>
								<dl>
									<dt><%= @object.human_attribute_name(f.to_s) %></dt>
									<dd><%= @item.send(f.to_sym) %></dd>
								</dl>
							<% end %>
						<% end %>
					<% end %>
					<% num_fields_printed = num_fields_printed + 1 %>
<%
				end
			end
		end
	end
%>

<h2>Children</h2>

<p>new:
<% @data_objects.each do |o| %>
	<a href="<%= item_path(@item) %><%= h o.object_type.underscore.pluralize %>/new"><%= h o.object_type.downcase %></a> 
<% end %>
</p>

<%= erb :'_list.html', :locals => { :objects => @children } %>
